<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>fail</title>
    <style>
    body {
        font-family: Arial, sans-serif;
        text-align: center;
        background-color: #fff;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .welcome-container {
        margin: -30px; /* 修正這裡的錯誤 */
        font-size: 40px;
    }
    </style>
</head>
<body>
    <div class="welcome-container">
        <h2>繳費失敗~</h2>
        <p>請重新繳費!</p>
    </div>
    <button onclick="navigateToCredictCardPage()">繳費去~</button>
    <script>
        function navigateToCredictCardPage() {
            // 這裡填入你想要跳轉的信用卡頁面的 URL
            window.location.href = "exit_top_new.html";
        }
    </script>
</body>
</html>